header {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('C:\Users\User\Pictures\heart.jpg');
}

.wide-logo {
    display: flex;
    width: 220px;
    margin-left: 20px;
    height: 35px;
}

#connect {
    cursor: pointer;
}
